<div class="text-center login-container" style="padding:50px 0">
  <div class='logo' ><%= t('.sign_in')%></div>

  <div class='login-form-1'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'text-left') do |f| %>
      <div class='login-form-main-message'></div>
      <div class='main-login-form'>
        <div class='login-group'>
          <div class='form-group'>
            <%= f.label :email, class: 'sr-only' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
          </div>

          <div class='form-group'>
            <%= f.label :password, class: 'sr-only' %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'password' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class='form-group login-group-checkbox'>
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me, class: 'form-check-label' do %>
                <%= resource.class.human_attribute_name('remember_me') %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= f.button :type => "submit",class: 'login-button d-flex align-items-center justify-content-center' do %>
          <i class='fa fa-chevron-right'></i>
        <% end %>
      </div>
      <div class='etc-login-form'>
        <%= render 'devise/shared/links' %>
      </div>
    <% end %>
  </div>
</div>